@use '../base/variables' as *;


// RESET
.work-body {
    margin: 0;
    padding: 0;
    background-color: $color-background;
    font-family: $font-family;
}

// MAIN CONTENT - GRID

.work-main {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.work-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

// MOBILE
@media (max-width: 768px) {
    .work-main {
        margin-top: 70px;
        padding: 16px;
    }
    
    .work-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}



// ============================================
// RESPONSIVE: MÓVIL (1 columna)
// ============================================
@media (max-width: 768px) {
    .work-grid {
        grid-template-columns: 1fr; // 1 columna en móvil
    }
    
    .work-main {
        margin-top: 70px;
    }
}

// TABLET
@media (min-width: 769px) and (max-width: 1024px) {
    .work-card__title {
        font-size: 1rem;
    }
    
    .work-card__subtitle {
        font-size: 0.8rem;
    }
}