$color-background: #001524;
$color-dark: #232323;
$color-text-primary: #FFECD1;
$color-secondary: #818181;
$color-muted: #e9ecef;
$font-family: 'Montserrat', sans-serif;
$font-logo: 'Bebas Neue', sans-serif;