$color-background: #4F2B1F;
$color-button-secondary: #283618;
$color-button-primary: #606C39;
$color-secundary-orange: #78290F;
$color-dark: #232323;
$color-text-primary: #FFECD1;
$color-secondary: #818181;
$color-muted: #e9ecef;
$font-body: 'Rethink Sans', sans-serif;
$font-headline: 'Unica One', sans-serif;
$font-family: 'Barlow', sans-serif;